.Alert {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    position: relative;

    svg {
        min-width: clamp(20px, 20px, 20px);
    }

    p {
        font-size: 0.95rem;
        text-align: start;
        margin: 0;
    }

    .xIcon {
        align-self: flex-end;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: var(--vui-spacing-xs);
        transform: translateY(-50%);
    }
}

.error {
    color: var(--vui-color-danger);
    svg {
        stroke: var(--vui-color-danger);
    }
}
.errorBg {
    width: auto;
    background-color: var(--vui-color-danger-1);
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--vui-color-danger);
    svg {
        stroke: var(--vui-color-danger);
    }
}

.warning {
    color: var(--vui-color-warning);
    svg {
        stroke: var(--vui-color-warning);
    }
}
.warningBg {
    width: auto;
    background-color: var(--vui-color-warning-1);
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--vui-color-warning);
    svg {
        stroke: var(--vui-color-warning);
    }
}

.success {
    color: var(--vui-color-success);
    svg {
        stroke: var(--vui-color-success);
    }
}
.successBg {
    width: auto;
    background-color: var(--vui-color-success-1);
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--vui-color-success);
    svg {
        stroke: var(--vui-color-success);
    }
}

.info {
    color: var(--vui-color-primary);
    svg {
        stroke: var(--vui-color-primary);
    }
}
.infoBg {
    width: auto;
    background-color: var(--vui-color-primary-1);
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--vui-color-primary);
    svg {
        stroke: var(--vui-color-primary);
    }
}
