.Input {
    position: relative;
    line-height: 30px;
    flex: 1;

    .input {
        width: 100%;
        min-width: 100px;
        border-radius: var(--vui-radius-2xl);
        border: none;
        height: 45px;
        line-height: 30px;
        padding-left: 3rem;
        border: 2px solid transparent;
        outline: none;
        background-color: var(--vui-color-default-light);
        color: var(--vui-color-default-dark);
        transition: 0.3s ease;
        flex: 1;

        &::placeholder {
            color: var(--vui-color-default-dark);
        }

        &:hover,
        &:focus {
            border-radius: var(--vui-radius-sm);
            box-shadow: var(--vui-box-shadow-md);
        }
    }

    .icon {
        position: absolute;
        fill: none;
        width: var(--vui-spacing-md);
        height: var(--vui-spacing-md);
        left: var(--vui-spacing-md);
    }

    .bordered {
        border: 1px solid var(--vui-color-primary);
    }
}

.InputSwitch {
    position: relative;
    display: inline-block;
    width: 40px;
    min-width: 40px;
    min-height: 24px;
    height: 24px;
    margin: 10px;

    .switchCheckbox {
        display: none;
    }

    .switchCheckbox:checked + .switchLabel {
        background-color: var(--vui-color-primary);
    }
    .switchCheckbox:checked + .switchLabel::before {
        transform: translateX(18px);
    }

    .switchLabel {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 20px;
        background-color: var(--vui-color-disabled);
        border-radius: var(--vui-radius-lg);
        cursor: pointer;
        transition: background-color 0.3s;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: var(--vui-radius-circle);
            top: 2px;
            left: 3px;
            background-color: var(--vui-color-default-light);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s;
        }
    }
}

.switchSecondary {
    .switchCheckbox:checked + .switchLabel {
        background-color: var(--vui-color-secondary);
    }
}
.switchTertiary {
    .switchCheckbox:checked + .switchLabel {
        background-color: var(--vui-color-tertiary);
    }
}
.switchQuaternary {
    .switchCheckbox:checked + .switchLabel {
        background-color: var(--vui-color-quaternary);
    }
}

.checkboxWrapper {
    .inputCheckbox {
        display: none;
        visibility: hidden;

        &:checked + .labelCheckbox .customCheckbox {
            background: var(--vui-color-primary);
            border-color: var(--vui-color-primary);

            svg {
                stroke-dashoffset: 0;
            }
        }
    }

    .labelCheckbox {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        vertical-align: bottom;
        margin: auto;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;

        span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            transform: translate3d(0, 0, 0);
        }

        .customCheckbox {
            position: relative;
            border-radius: 3px;
            transform: scale(1);
            vertical-align: middle;
            border: 1px solid var(--vui-color-disabled);
            transition: all 0.2s ease;

            svg {
                fill: none;
                stroke: var(--vui-color-default-light);
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 16px;
                stroke-dashoffset: 16px;
                transition: all 0.3s ease;
                transition-delay: 0.1s;
                transform: translate3d(0, 0, 0);
            }
        }

        &:hover {
            .customCheckbox {
                border-color: var(--vui-color-primary);
            }
        }
    }
}
.smallInputCheckbox {
    .labelCheckbox {
        .customCheckbox {
            width: 14px;
            height: 14px;
        }

        .checkboxChildren {
            font-size: var(--vui-font-size-sm);
            padding-left: var(--vui-spacing-xs);
        }
    }
}
.middleInputCheckbox {
    .labelCheckbox {
        .customCheckbox {
            width: 16px;
            height: 16px;
        }

        .checkboxChildren {
            font-size: var(--vui-font-size-md);
            padding-left: var(--vui-spacing-sm);
        }
    }
}
.largeInputCheckbox {
    .labelCheckbox {
        .customCheckbox {
            width: 18px;
            height: 18px;
        }
        .checkboxChildren {
            font-size: var(--vui-font-size-lg);
            padding-left: var(--vui-spacing-sm);
        }
    }
}
.checkboxWave {
    .inputCheckbox {
        &:checked + .labelCheckbox .customCheckbox {
            animation: checkboxPulse 0.4s ease;

            &::before {
                transform: scale(3.5);
                opacity: 0;
                transition: all 0.6s ease;
            }
        }
    }

    .labelCheckbox {
        .customCheckbox {
            &::before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: var(--vui-color-primary);
                display: block;
                transform: scale(0);
                opacity: 1;
                border-radius: var(--vui-circle-radius);
            }
        }
    }
}
@keyframes checkboxPulse {
    50% {
        transform: scale(0.9);
    }
}
