.Card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--vui-color-default-light);
    width: 100%;
    text-align: start;
    border-radius: var(--vui-radius-md);

    .header {
        &Wrapper {
            width: 100%;
            display: flex;

            .avatar {
                aspect-ratio: 1/1;
                width: 35px;
                height: 35px;
                box-sizing: initial;
            }

            .details {
                flex: 1;
                overflow: hidden;
            }

            .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: bold;
            }
        }

        .description {
            margin: 0;
            margin-top: var(--vui-spacing-xs);
            font-size: var(--vui-font-size-xs);
        }
    }

    .bodyWrapper {
        height: 100%;
    }

    .body {
        font-size: var(--vui-font-size-sm);
    }
}

.bordered {
    border: 1px solid var(--vui-color-light-1);
}

.smallCard {
    .header {
        padding-inline: var(--vui-spacing-sm);
        padding-top: var(--vui-spacing-sm);

        .avatar {
            margin-inline-end: var(--vui-spacing-sm);
        }
    }

    .body {
        padding: var(--vui-spacing-sm);
    }

    .footer {
        padding-inline: var(--vui-spacing-sm);
        padding-bottom: var(--vui-spacing-sm);
    }
}
.middleCard {
    .header {
        padding-inline: var(--vui-spacing-md);
        padding-top: var(--vui-spacing-md);

        .avatar {
            margin-inline-end: var(--vui-spacing-md);
        }
    }

    .body {
        padding: var(--vui-spacing-md);
    }

    .footer {
        padding-inline: var(--vui-spacing-md);
        padding-bottom: var(--vui-spacing-md);
    }
}
.largeCard {
    .header {
        padding-inline: var(--vui-spacing-lg);
        padding-top: var(--vui-spacing-lg);

        .avatar {
            margin-inline-end: var(--vui-spacing-lg);
        }
    }

    .body {
        padding: var(--vui-spacing-lg);
    }

    .footer {
        padding-inline: var(--vui-spacing-lg);
        padding-bottom: var(--vui-spacing-lg);
    }
}

.cover {
    width: 100%;
}
