.Tooltip {
    position: relative;
    display: inline-flex;

    &Trigger {
        position: relative;
    }

    &Title {
        position: absolute;
        transform: translateX(-50%);
        visibility: visible;
        font-size: var(--font-size-xs);
        color: var(--default-light-color);
        border-radius: var(--default-global-radius);
        z-index: var(--vui-z-index-tooltip);
        width: max-content;
        max-width: 250px;
        min-width: 32px;
        padding: 6px 8px;
        text-decoration: none;
        word-wrap: break-word;
        text-align: start;
    }
}

.default {
    background-color: var(--vui-color-dark-opacity);
}

.outline {
    border: 1px solid var(--vui-color-dark-opacity);
    background-color: var(--default-light-color);
    color: var(--default-dark-color);
}

.primary {
    background-color: var(--vui-color-primary);
}

.secondary {
    background-color: var(--vui-color-secondary);
}

.tertiary {
    background-color: var(--vui-color-tertiary);
}

.quaternary {
    background-color: var(--vui-color-quaternary);
}
