:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* color-scheme: light dark; */
    /* background-color: #242424; */
    background-color: #fbfbfbfb;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --default-light-color: #fbfbfbfb;
    --default-dark-color: #171717;
    --color-danger: #ff0000;

    --bg-dark-opacity: rgba(0, 0, 0, 0.8);
    --bg-soft-dark-opacity: rgba(0, 0, 0, 0.4);

    --default-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);

    --default-global-radius: 6px;

    --z-index-backdrop: 1000;
    --z-index-modal: 1050;

    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;
    --font-size-heading-1: 30px;
    --font-size-heading-2: 24px;
    --font-size-heading-3: 18px;
    --font-size-heading-4: 16px;
    --font-size-heading-5: 14px;

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
