.ButtonLink {
    width: fit-content;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--vui-font-size-sm);
    line-height: 1.25rem;
    border-radius: var(--vui-radius-sm);
    border: none;
    background-color: var(--vui-color-default-dark);
    color: var(--vui-color-default-light);
    transition: all 0.2s ease-in;
    cursor: pointer;
    gap: 8px;
    box-shadow: var(--vui-box-shadow-sm);
    border: 1px solid transparent;
    position: relative;

    span {
        display: inline-flex;
        align-items: center;
        gap: var(--vui-spacing-xs);
    }

    &:hover {
        text-decoration: underline;
    }
}

.buttonLarge {
    padding: 8px 22px;
}
.buttonMiddle {
    padding: 6px 15px;
}
.buttonSmall {
    padding: 4px 12px;
}

.buttonDefault {
    background-color: var(--vui-color-default-dark);
    color: var(--vui-color-default-light);
}
.buttonPrimary {
    background-color: var(--vui-color-primary);
    &:hover {
        text-decoration: none;
    }
}
.buttonSecondary {
    background-color: var(--vui-color-secondary);
    &:hover {
        text-decoration: none;
    }
}
.buttonTertiary {
    background-color: var(--vui-color-tertiary);
    color: var(--vui-color-default-dark);
    &:hover {
        text-decoration: none;
    }
}
.buttonQuaternary {
    background-color: var(--vui-color-quaternary);
    color: var(--vui-color-default-dark);
    &:hover {
        text-decoration: none;
    }
}
.buttonDashed {
    background-color: transparent;
    color: var(--vui-color-default-dark);
    border-color: var(--vui-color-default-dark);
    border-style: dashed;
    &:hover {
        text-decoration: none;
    }
}
.buttonOutline {
    background-color: transparent;
    color: var(--vui-color-default-dark);
    border-color: var(--vui-color-disabled);
    &:hover {
        text-decoration: none;
    }
}
.buttonLink {
    background-color: transparent;
    color: var(--vui-color-primary);
    box-shadow: none;
}
.buttonText {
    background-color: transparent;
    color: var(--vui-color-default-dark);
    box-shadow: none;
}

.buttonDangerDefault {
    background-color: var(--vui-color-danger);
    color: var(--vui-color-default-light);
}
.buttonDangerLink {
    background-color: transparent;
    color: var(--vui-color-danger);
    box-shadow: none;
}
.buttonDangerText {
    background-color: transparent;
    color: var(--vui-color-default-dark);
    box-shadow: none;
}
.buttonDangerOutline {
    background-color: transparent;
    color: var(--vui-color-danger);
    border-color: var(--vui-color-danger);
}

.buttonCircle {
    border-radius: var(--vui-radius-circle);
}
.buttonRound {
    border-radius: var(--vui-radius-2xl);
}

.notAllowed {
    background-color: var(--vui-color-disabled-opacity);
    color: var(--vui-color-disabled);
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid var(--vui-color-disabled);
}
