@use '../../../shared/styles/index.scss' as *;

.backdrop {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: var(--vui-z-index-backdrop);
    min-height: 100dvh;

    &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: #0000;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #0000;
    }
}

.backdropActive {
    background-color: var(--vui-color-default-dark-opacity);
}

.Modal {
    position: relative;
    background-color: var(--vui-color-default-light);
    border-radius: var(--vui-radius-md);
    box-shadow: var(--vui-box-shadow-sm);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50px;
    margin-bottom: 8rem;
    z-index: var(--vui-z-index-modal);
    margin-inline: auto;
    cursor: initial;
    width: calc(100% - 2rem);
    min-width: 200px;
    max-width: 600px;
    overflow: hidden;
    @include expandAnimation();

    .cancelBtnCross {
        background-color: transparent;
        border: none;
        border-radius: var(--vui-radius-md);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-in;
        width: clamp(25px, 25px, 25px);
        height: clamp(25px, 25px, 25px);
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;

        &:hover {
            background-color: var(--bg-soft-dark-opacity);
        }
    }

    &Header {
        padding-inline: 10px;
        padding-top: 10px;
    }

    &Body {
        font-size: var(--vui-font-size-md);
        padding-inline: 10px;

        p {
            margin: 0;
        }
    }

    &Footer {
        padding-inline: 10px;
        padding-bottom: 10px;
    }

    @include responsive(sm) {
        top: 10px;
        &Body {
            font-size: var(--vui-font-size-sm);
        }
    }
}

.decreaseAnimation {
    @include decreaseAnimation();
}

.fadeBackdrop {
    @include fadeAnimation();
}
